<form [formGroup]="state.form.formGroup">
	<img src="assets/images/sofisa-logo.png" alt="" class="so-pg-login--form--logo">
	
	<so-input label="Usuário" placeholder="Digite seu usuário" [inputConfig]=" { validation: { type: state.form.validations.username.type, message: state.form.validations.username.message} }" (hasChanged)="updateFieldValue($event, 'username')"></so-input>
	
	<so-input label="Senha" placeholder="Digite sua senha" inputType="password" [inputConfig]=" { validation: { type: state.form.validations.password.type, message: state.form.validations.password.message} }" (hasChanged)="updateFieldValue($event, 'password')"></so-input>
	
	<so-checkbox label="Lembrar usuário" [checked]="true"></so-checkbox>
	
	<div class="clearfix"></div>
	
	<so-button type="primary" text="Entrar" (hasClicked)="handleForm($event)"></so-button>
</form>